
<footer class="text-white text-center bg-main py-4">
  <div class="container">
    <ul class="list-unstyled d-flex justify-content-center border-bottom pb-3 gap-3">
      <li><i class="fa-brands fa-facebook fs-4 cursor-pointer"></i></li>
      <li><i class="fa-brands fa-linkedin fs-4 cursor-pointer"></i></li>
      <li><i class="fa-brands fa-x-twitter fs-4 cursor-pointer"></i></li>
    </ul>
    <p>Copyright &copy; <a href="https://github.com/moWalid3" class="text-light fw-bold" target="_blank">MW</a> All Rights Reserved.</p>
  </div>

</footer>