<div class="product shadow-sm border p-3 border-1 rounded-2">
  <a [routerLink]="['/product-details', product.id]" class="text-decoration-none text-black">
    <div class="p-3">
      <img [src]="product.image" height="250" class=" w-100" alt="">
    </div>
    <h5 class="mt-4 mb-1">{{product.title.split(" ").slice(0, 3).join(" ")}}</h5>
    <p class="mb-1 text-muted">{{product.category}}</p>
    <div class="d-flex justify-content-between mb-3">
      <span class="fs-5 text-main fw-bold">{{product.price|currency}}</span>
      <span class="fs-5">{{product.rating.rate}} <i class="fa-solid text-warning fa-star"></i></span>
    </div>
  </a>
  <button (click)="add()" class="btn btn-main w-100">Add To Cart</button>
</div>
